{% extends "base.html" %}

{% block title %}Powerled - Hala {{ warehouse }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.mobile-1.2.0.min.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/holo/holo.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/holo/holo-light.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/stylesheet.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.mobile.simpledialog.min.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.terminal.css" />
<style>
#warehouse [name="lamp_1"] {top:20px;left:20px;}
#warehouse [name="lamp_2"] {top:20px;left:120px;}
#warehouse [name="lamp_3"] {top:20px;left:220px;}
#warehouse [name="lamp_4"] {top:20px;left:320px;}
#warehouse [name="lamp_5"] {top:20px;left:420px;}
#warehouse [name="lamp_6"] {top:120px;left:20px;}
#warehouse [name="lamp_7"] {top:120px;left:120px;}
#warehouse [name="lamp_8"] {top:120px;left:220px;}
#warehouse [name="lamp_9"] {top:120px;left:320px;}
#warehouse [name="lamp_10"] {top:120px;left:420px;}
#warehouse [name="lamp_11"] {top:220px;left:20px;}
#warehouse [name="lamp_12"] {top:220px;left:120px;}
#warehouse [name="lamp_13"] {top:220px;left:220px;}
#warehouse [name="lamp_14"] {top:320px;left:20px;}
#warehouse [name="lamp_15"] {top:320px;left:120px;}
#warehouse [name="lamp_16"] {top:320px;left:220px;}
#warehouse [name="lamp_17"] {top:420px;left:20px;}
#warehouse [name="lamp_18"] {top:420px;left:120px;}
#warehouse [name="lamp_19"] {top:420px;left:220px;}
</style>
<link rel="stylesheet" href="{{ STATIC_URL }}css/android.holo/android-theme.css" />
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
var DEBUG_ANDROID_THEME=true
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mobile.android-theme.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mousewheel-min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mobile-1.2.0.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/powermanager.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/warehouse_controlls.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/webfont.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tmpl.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.mobile.simpledialog2.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/terminal/jquery.terminal-dev.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/terminal/touch-scroll.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/hala.js"></script>
<!--[if IE]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% load socketio_tags %}
{% socketio %}
<!-- <script src="{{ STATIC_URL }}js/warehouse.js"></script> -->
<script type="text/javascript" src="{{ STATIC_URL }}js/socket.io.client.js"></script>
<script type="text/javascript">
window.warehouseID = {{ warehouse.id }};
jQuery(document).bind("mobileinit", function() {
	$.mobile.touchOverflowEnabled = true;
});
jQuery(document).ready(function() {
	warehouse = new jQuery("#warehouse").warehouselamps({
		'warehouseID' : window.warehouseID,
		'user' : name,
		'width' : 96,
		'height' : 96,
		'maxTemp' : 350, //{{ warehouse.maxTemp }},
		'maxLux' : 1200, //{{ warehouse.maxLux }},
		'debug' : false
	});
	var sliderBrightness = jQuery('#lampBrightness').slider({
		disabled : true
	});
	sliderBrightness.unbind();
	sliderBrightness.bind('slidestop change', function(event, ui) {
		var current = jQuery(this).attr('rel');
		var val = jQuery(this).val();
		if (val == 0) {
			switchOnOff.val(4).slider('refresh');
		}
		jQuery.each(jQuery('.clicked'), function() {
			var lamp = $(this).attr('id');
			var data = '{"' + String(current) + '":' + parseFloat(val) + '}';
			var update = (event.type == 'slidestop') ? true : false;
			setLamp(lamp, data, update);
		});
	});

	var sliderLux = jQuery('#lampLux').slider({
		disabled : true
	});
	sliderLux.unbind();
	sliderLux.bind('slidestop change', function(event, ui) {
		var current = jQuery(this).attr('rel');
		var val = jQuery(this).val();
		jQuery.each(jQuery('.clicked'), function() {
			var lamp = $(this).attr('id');
			var data = '{"' + String(current) + '":' + parseFloat(val) + '}';
			var update = (event.type == 'slidestop') ? true : false;
			setLamp(lamp, data, update);
		});
	});

	var switchSync = jQuery('#syncSwitch').slider('disable');

	var switchOnOff = jQuery('#lampStatus').slider('disable');
	switchOnOff.change(function() {
		jQuery.each(jQuery('.clicked'), function() {
			var LampID = $(this).attr('id');
			setLamp(LampID, '{"state" : ' + parseFloat(switchOnOff.val()) + '}', true);
		});
	});

/*	jQuery('#console').submit(function() {
		var value = jQuery('#message').val();
		if (value) {
			if (!started) {
				name = value;
				data = {
					warehouse : window.warehouseID,
					action : 'start',
					name : name
				};
			} else {
				data = {
					warehouse : window.warehouseID,
					action : 'message',
					message : value
				};
			}
			msg(data);
		}
		jQuery('#message').val('').focus();
		return false;
	});*/

	selectLamp = function(itemID, dblclick) {
		warehouse.warehouselamps().$.getLamp(itemID)
		console.log(warehouse.warehouselamps().$.getLamp(itemID));
		if (dblclick) {
			switch(LampID.lamp_data.state) {
				case 1:
					var state = 4;
					break;
				case 4:
					var state = 1;
					break;
				default:
					var state = LampID.lamp_data.state;
			}
			LampID.lamp_data.state = state;
			setLamp(LampID, LampID.lamp_data, false);
		}
		sliderBrightness.val(LampID.lamp_data.val).slider('refresh');
		sliderBrightness.slider('enable');
		sliderLux.val(LampID.lamp_data.lux).slider('refresh');
//		sliderLux.slider('enable');
		onOffState = (LampID.lamp_data.val == 0) ? 4 : LampID.lamp_data.state;
		switchOnOff.val(onOffState).slider('refresh');
//		switchOnOff.slider('enable');
	}

	$('#leave, #masterButton').click(function(e) {
		e.preventDefault();
		window.location.href = window.location.protocol + '//' + window.location.host;
	});

});

setLamp = function(lamp, lamp_data, send) {
	var data = (jQuery.type(lamp_data) == 'object') ? lamp_data : jQuery.parseJSON(lamp_data);
	warehouse.warehouselamps().$.updateStatus(lamp, data);
	if (send) {
		toggleLoading(lamp, true);
		var send_data = {
			'warehouse' : window.warehouseID,
			'action' : 'message',
			'message' : 'led ' + lamp + ' ' + data.val / 100,
			'name' : name
		};
		msg(send_data);
		console.log('Send: ' + lamp + ' ' + ((jQuery.type(data) == 'object') ? JSON.stringify(data) : data));
	}
}
bindUI = function() {
	jQuery('.lamp').unbind().single_double_click(function(event) {
		event.preventDefault();
		if (event.shiftKey) {
			jQuery(this).toggleClass('clicked');
			console.log(this);
		} else {
			$('.lamp').removeClass('clicked');
			selectLamp(jQuery(this).attr('id'), false);
			jQuery(this).addClass('clicked');
		}
	}, function(event) {
		event.preventDefault();
		$('.lamp').removeClass('clicked');
		selectLamp(jQuery(this).attr('id'), true);
		jQuery(this).addClass('clicked');
	}).bind('taphold', function(event) {
		event.preventDefault();
		jQuery(this).toggleClass('clicked');
		window.navigator.vibrate(100);
		console.log(this);
	});
}

WebFont.load({
	custom : {
		families : ['RobotoRegular', 'RobotoCondensed', 'RobotoBold', 'RobotoBoldCondensed'],
		urls : ['{{ STATIC_URL }}css/fonts/stylesheet.css'],
	},
	active : function() {
		var send_data = {
			'warehouse' : window.warehouseID,
			'action' : 'getlamps'
		};
		msg(send_data);
	},
}); 
</script>
{% endblock %}

{% block main %}
<div id="lamps">
	<header class="ui-header" data-role="header" role="banner" data-theme="c">
		<div class="holo-action-bar">
			<h1><a href="/" id="masterButton" class="holo-up">Powerled - Hala {{ warehouse.name }}</a></h1>
			<ul class="holo-action-buttons">
				<li>
					<a href="#" class="holo-search" title="Search">Q</a>
				</li>
				<li>
					<a href="#" class="holo-action-overflow">Ξ</a>
				</li>
			</ul>

			<div class="holo-fixed-tabs">
				<nav>
					<ul id="nav">
						<li>
							<a href="#home" class="current-tab">Options</a>
						</li>
						<li>
							<a href="#examples" class="">Examples</a>
						</li>
						<li>
							<a href="#about" class="">About</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<div class="holo-content ui-content" data-role="content" role="main" data-theme="c">
		<section id="warehouse">
			<canvas id="hala" width="540" height="600">Your browser does not support the HTML5 canvas tag.</canvas>
		</section>
		<aside id="controls">
			<script>
				$(document).delegate('.ui-navbar ul li > a', 'click', function() {
					terminal.focus(false);
					//un-highlight and highlight only the buttons in the same navbar widget
					$(this).closest('.ui-navbar').find('a').removeClass('ui-navbar-btn-active');
					//this bit is the same, you could chain it off of the last call by using two `.end()`s
					$(this).addClass('ui-navbar-btn-active');
					//this starts the same but then only selects the sibling `.content_div` elements to hide rather than all in the DOM
					$('#' + $(this).attr('data-href')).show().siblings('fieldset').hide();
				});
			</script>
			<div data-role="navbar">
				<ul>
					<li>
						<a href="#" data-href="lampsControls" class="ui-btn-active ui-state-persist">Controls</a>
					</li>
					<li>
						<a href="#" data-href="sync">Sync<span id="syncStatus"></span></a>
					</li>
					<li>
						<a href="#" data-href="usersPanel">Users</a>
					</li>
					<li>
						<a href="#" data-href="cons">Console</a>
					</li>
				</ul>
			</div><!-- /navbar -->
			<form>
				<fieldset id="lampsControls">
					<label for="lampBrightness">Brightness:</label>
					<input type="range" name="lampBrightness" id="lampBrightness" class="lampSlider" rel="val" value="0" min="0" max="100"  />
					<label for="lampLux">Luxometer:</label>
					<input type="range" name="lampLux" id="lampLux" class="lampSlider" rel="lux" value="0" min="0" max="<?php echo $maxLux; ?>"  />
					<label for="lampStatus">Lamp:</label>
					<select name="lampStatus" id="lampStatus" data-role="slider">
						<option value="4">Off</option>
						<option value="1">On</option>
					</select>
				</fieldset>

				<fieldset id="sync">
					<label for="user_name">Name:</label>
					<input type="text" name="user_name" id="user_name" data-mini="true" />
					<label for="warehouseID" class="select">Warehouse:</label>
					<select name="warehouseID" id="warehouseID" data-mini="true">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>
					<label for="syncSwitch">Sync:</label>
					<select name="syncSwitch" id="syncSwitch" data-role="slider">
						<option value="off">Off</option>
						<option value="on">On</option>
					</select>
					<label for="socketHost">Socket server:</label>
					<input type="text" name="socketHost" id="socketHost" data-mini="true" />
					<label for="socketPort">Port:</label>
					<input type="text" name="socketPort" id="socketPort" data-mini="true" />
				</fieldset>
				<fieldset id="usersPanel">
					<ul id="users">
						<script type="text/x-jquery-tmpl">
							<li id="user-${id}">${name}</li>
						</script>
					</ul>
				</fieldset>
				<fieldset id="cons"><div id="console"></div></fieldset>
				<script type="text/javascript" src="{{ STATIC_URL }}js/terminal/terminal.js"></script>
			</form>
			<p id="currentVal"></p>
		</aside>
	</div>
	<footer id="footer" data-role="footer" data-theme="c">
		<p>&copy; Copyright by Diznet Studio & Sel-Telecom</p>
	</footer>
	<div id="log"></div>
</div>
{% endblock %}

{% block form %}
{% endblock %}
